@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(./assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Helvetica Rounded';
    src: url(./assets/HelveticaRoundedLTStd-Bd.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: rgb(88,243,101);
    background: linear-gradient(180deg, rgba(88,243,101,1) 0%, rgba(86,243,100,1) 14%, rgba(255,255,255,1) 14%);
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}


img {
    max-width: 100% ;
}

body {
	font-family: 'Helvetica Rounded';
}

a {
	text-decoration: none;
}

ul {
    list-style: none;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
    position: relative;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

#icon{
    cursor: pointer;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
    max-width: 100%;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.5); */
	position: absolute;
}

.content {
	z-index: 2;
}

.sec-1 .content {
    display: flex;
    flex-direction: column;
}

.showcase.sec-1 img {
    max-width: 50vw;
}
 .sec-1{
     background-color: #58f365;;
 }

.btn button {
	display: inline-block;
	padding: 20px 50px;
	background: #FFDE00;
    border-radius: 68px;
	color: #fff;
	margin-top: 25px;
    max-width: 280px;
    margin: auto;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto Bold';
    border: none;
}

.btn:hover {
	transform: scale(0.98);
}

.leamon-text{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.leamon-amount {
    font-family: 'Roboto Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.btn button > span:last-of-type {
    height: 51px;
    width: 70px;
    left: 946px;
    top: 679px;
    border-radius: 9px;
    background: #FFFFFF;
    color: #FFDE00;
    padding: 0 5px;
}

.btn p > span,
.btn p {
    font-size: 17px;
    line-height: 20px;
}

.btn {
    max-width: 550px;
    margin: auto;
    background: rgba(255,255,255, 0.3);
    border-radius: 53px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn svg,
button {
    cursor: pointer;
}

.btn svg:first-of-type {
    margin-right: 10px;
}

.btn svg:last-of-type {
    margin-left: 10px;
}

.sec-2 {
    background-color: #58f365;
    display: flex;
    align-items: flex-end;
}

.sec-3-container {
    display: flex;
    width: 70%;
    margin: auto;
}

.sec-3-container > div,
.sec-4-container > div {
    width: 50%;
    
}

.sec-3-container h1 {
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8vw;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 0.5em;
}

.sec-3-container p {
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4vw;
    letter-spacing: 0em;
    text-align: left;

}

.sec-3-container .right img {
    max-width: 30vw;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.sec-3 {
    margin-top: 1%;
}

.sec-3-container .left,
.sec-4-container .left {
    text-align: left;

}

.sec-4-container .left img{
    max-width: 2vw;
}


.sec-3-container .left img{
    max-width: 2.5vw;
}

.sec-4-container {
    display: flex;
}

.sec-4-container .left {
    background: #FFC01E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.sec-4-container h1 {
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8vw;
    letter-spacing: 0em;
    color: #fff;
}

.sec-4-container p {
    font-size: 1.18vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4vw;
    letter-spacing: 0em;
    color: #fff;
}

.sec-4-container .right {
    padding: 5%;
    display: flex;
    align-items: center;
}

footer .footer-container {
    background: #95EF74;
    min-height: 241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
}

footer .footer-container .left p {
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.045em;
    color: #fff;
}

footer .footer-container ul {
    display: flex;
}

footer .footer-container ul li img {
    max-width: 70px;
}

footer .footer-container ul li + li {
    margin-left: 83px;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50px;
    right: 76px;
}

header .main-menu {
    display: flex;
    justify-content: flex-end;
}

header .main-menu li a {
    font-family: 'Roboto Bold';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

header .main-menu li + li {
    margin-left: 46px;
}

header .social-icon {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

header .social-icon li {
    margin-top: 40px;
}

header .social-icon img {
    max-width: 44px;
}

.sec-7 {
    text-align: center;
    position: relative;
    background-color: white;
    margin-top: 10rem;
}

.roadicon {
    margin-bottom: 0.35em;
}
.isogif {
    margin-right: 0;
}
.sec-7 h1 {
    font-size: 4.84vw;
    font-style: normal;
    font-weight: 700;
    line-height: 5.72vw;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    width: 35%;
    margin: 0.3em auto 1.5em;
    z-index: 2;
}

.sec-7 ul li {
    text-align: center;
    margin: 3em 0 5em;
}

.sec-7 ul li img {
    max-width: 5.2vw;
}

.sec-7 h2 {
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.sec-7 p {
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35vw;
    letter-spacing: 0em;
    text-align: center;
    color: #515151;
    max-width: 35vw;
    width: 100%;
    margin: auto;
    margin-top: 2%;
}

.sec-7 .lemon-world {
    max-width: 28.4vw;
    margin-top: -5em;
    width: 100%;
    margin-left: -1em;
}

.sec-8 ul {
    margin-top: 2em;
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 12px #fad900; 
  left: 0;
  z-index: -1;
  right: 0;
  text-align: center;
  top: 0;
}
/* add a double stroke */
.stroke-single:before,
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 24px #fad900;
  left: 0;
  z-index: -2;
  right: 0;
  text-align: center;
  top: 0;
}

.stroke-single:before {
    -webkit-text-stroke: 12px #fad900; 
}

.stroke-single:after { 
    -webkit-text-stroke: 12px #fad900;
}

.lemonsquad,
.roadmaptree,
.lemongiftrans,
.cloud {
    position: absolute;
}

.art {
    margin-left: 3px;
}
.lemonmaptitle {
    max-width: 40vw;
    margin-bottom: 2%;
}

.voxel {

}
.lemonsquad {
    left: -1%;
    top: 25%;
    max-width: 21.7vw;
    z-index: 9;
}

.roadmaptree {
    right: 0;
    top: 40%;
    max-width: 44.5vw;
    z-index: 9;
}


.sec-7 h2,
.sec-7 p {
    position: relative;
    z-index: 99;
}

.sec-8 {
 
    background-color: white;
}

.sec-8 h1 {
    font-size: 5.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6.6vw;
    letter-spacing: -0.045em;
    text-align: center;
    color: #fad900;
    margin-top: 1em;
}

.sec-8 h2 {
    font-size: 2.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: -0.045em;
    text-align: center;
    color: #fad900;
}

.sec-8 p {
    font-size: 1.35vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6vw;
    letter-spacing: -0.045em;
    text-align: center;
    color: #595959;
}

.sec-8 > ul {
    display: flex;
    justify-content: space-around;
    padding: 5em 0;
}

.sec-8 > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-8 > ul > li img {
    max-width: 7.8vw;
}

.sec-8 > ul > li > ul img {
    max-width: 3.4vw;
}

.slick-track {
    display: flex;
}

.lemon-slider-element {
    padding: 0 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-5 {
    background: #D987FF;
    padding: 5em 0;
    text-align: center;
}

.sec-5 > img {
    max-width: 1.75vw;
    
}

.sec-5 h1 {
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8vw;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-bottom: 1.5em;
}

.sec-5 h2 {
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-top: .5em;
}

.sec-5 p {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.lemon-slider {
    overflow: hidden;
}

.sec-6 {
    position: relative;
    height: 110vh;
    background: #35DBFF;
    
}

.assets6 {
 }

.object-1 {
    height: 12.3vw;
    width: 12.3vw;
    position: absolute;
    top: 5vh;
    right: 15vw;
}

.object-2 {
    height: 11.5vw;
    width: 11.5vw;
    position: absolute;
    top: 70vh;
    right: 12vw;
}

.object-3 {
    height: 13.3vw;
    width: 13.3vw;
    position: absolute;
    top: 4vh;
    left: 10vw;
}

.object-4 {
    height: 12.1vw;
    width: 12.1vw;
    position: absolute;
    top: 67vh;
    left: 12vw;
}

.text-1 {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    font-size: 5.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6.3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.text-2 {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    font-size: 5.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6.3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.btn-disable {
    background: transparent;
    pointer-events: none;
    user-select: none;
}

.btn-disable button {
    background: #C9C9C9;
}

.btn-disable svg,
.btn-disable button > span:last-of-type {
    display: none;
}

.btn.btn-disable {
    display: flex;
    flex-direction: column;
}


.floating {  
    animation-name: floating;
    animation-duration:3.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    margin-top: 60px;
}
  
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 13px); }
    100%   { transform: translate(0, -0px); }    
}

.floating1 {  
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    margin-top: 60px;
}
  
@keyframes floating1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 12px); }
    100%   { transform: translate(0, -0px); }    
}

.floating2 {  
    animation-name: floating2;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    margin-top: 60px;
}
  
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}



.floating3 {  
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    margin-top: 60px;
}
  
@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }    
}





@media screen and (min-width: 1100px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      } 
    .sec-4-container {
        height: 100vh;
    }

    .showcase.sec-1 img {
        margin-left: 3vw;
    }

    .sec-3-container .left {
        position: relative;
        top: -5vh;
    }

    .sec-8 > ul {
        max-width: 70%;
        margin: auto;
    }
    .sec-1 .video-container video {
        top: 36%;
    }

}

@media screen and (max-width: 1050px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      } 
    .showcase {
        height: 100vh;
    }

    .stroke-double:before,
    .stroke-double:after {
        -webkit-text-stroke: 15px #fad900;
    }

    .stroke-single:before,
    .stroke-single:after {
        -webkit-text-stroke: 6px #fad900;
    }
    
}

@media screen and (max-width: 768px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      } 
    .showcase {
        height: 100vh;
    }
    header {
        top: 30px;
        right: 30px;
    }

    header .main-menu li + li {
        margin-left: 15px;
    }

    header .social-icon li {
        margin-top: 15px;
    }

    .btn button { 
        font-size: 30px;
        line-height: 35px;
    }

    .showcase.sec-1 img {
        max-width: 100%;
        margin-top: -2em;
        margin-bottom: 1em;
    }

    .lemonsquad {
        max-width: 100px;
    }

    .roadmaptree {
        max-width: 150px;
    }

    .sec-7 h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .sec-7 h1 {
        font-size: 35px;
        line-height: 41px; 
        width: 70%;
    }


    .sec-3-container .right,
    .sec-3-container .left img, 
    .sec-4-container .left img,
    .sec-4-container p:last-of-type,
    .text-1      
    {
        display: none;
    }

    .sec-7 p {
        font-size: 4vw;
        font-style: normal;
        font-weight: 700;
        line-height: 4.2vw;
        letter-spacing: 0em;
        text-align: center;
        color: #515151;
        max-width: 65vw;
        width: 100%;
        margin: auto;
        margin-top: 3%;
    }
    .lemonmaptitle {
        max-width:100%;
        height:auto;
    }
    .lemonsquad {
        top: 35%;
        left: -6%;
    }

    .roadmaptree {
        top: 58%;
    }

    .stroke-double:before,
    .stroke-double:after {
        -webkit-text-stroke: 8px #fad900;
    }

    .stroke-single:before,
    .stroke-single:after {
        -webkit-text-stroke: 4px #fad900;
    }

    footer .footer-container {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    footer .footer-container .left p {
        font-size: 20px;
        line-height: 23px;
    }

    footer .footer-container ul li img {
        max-width: 40px;
    }

    footer .footer-container .right {
        margin-top: 5%;
    }

    .sec-4-container {
        flex-wrap: wrap;
    }

    .sec-3-container > div, .sec-4-container > div,
    .sec-3-container {
        width: 100%;
    }

    .sec-3-container h1 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }

    .sec-3-container p {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }

    .showcase.sec-3 {
        height: 50vh;
    }

    .sec-4-container h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }

    .sec-4-container p {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }

    .sec-7 ul li {
        margin: 3em 0 3em;
    }

    .sec-8 {
        margin-top: 2em;
    }

    .sec-8 > ul {
        padding: 2em 0;
    }

    .sec-8 h1 {
        font-size: 37px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.045em;
        text-align: center;
    }

    .sec-8 h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.045em;
        text-align: center;
        margin-top: .5em;
    }

    .sec-8 p {
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: -0.045em;
        text-align: center;
        margin: 1em 0;
    }


    .sec-8 > ul > li img {
        max-width: 65px;
    }

    .sec-8 > ul > li > ul img {
        max-width: 27px;
    }

    footer .footer-container {
        min-height: 142px;
    }


    .object-1 {
        height: 74px;
        width: 74px;
        position: absolute;
        top: 10vh;
        right: 15vw;
    }

    .object-2 {
        height: 68px;
        width: 68px;
        position: absolute;
        top: 60vh;
        right: 12vw;
    }

    .object-3 {
        height: 78px;
        width: 78px;
        position: absolute;
        top: 20vh;
        left: 10vw;
    }

    .object-4 {
        height: 72px;
        width: 72px;
        position: absolute;
        top: 65vh;
        left: 17vw;
    }

    .text-2 {
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        top: 42vh;
    }

    .sec-6 {
        height: 110vh;
    }

    .sec-4-container .left {
        padding: 10%;
    }

    .sec-5 > img {
        max-width: 7vw;
        margin-bottom: 5%;
    }

    .sec-5 h1 {
        font-size: 6vw;
    }
    
    .sec-7 .lemon-world {
        max-width: 237px;
    }

    .sec-8 ul {
        margin-top: .5em;
    }
}

@media screen and (max-width: 600px) {
   
   .videotree {
       display: none;
   }
   
   .mobiletree {
      	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
    max-width: 100%;
   }

    .lemonsquad {
        top: 24%;
    }

    .sec-2  {
        margin-bottom: 0.6em;
    }
    .roadmaptree {
        top: 54%;
    }

    .sec-7 ul {
        width: 80%;
        margin: auto;
    }

    .sec-7 h2 {
        font-size: 1.75rem;
        margin-bottom: 1.75rem;
        line-height: 2rem;
    }

    .sec-2 { 
        
        width: 150%;
  margin-left: auto;
  margin-right: auto;

    }
    .lemonworld {
        width: 100%;
        margin-bottom: 1rem;
    }

    .roadmaptree {

    }

    .lemonsquad {
        top: 28%;
    }
    .sec-2 img {
   
        margin-left: -17%;
    }

    .showcase.sec-3 {
        height: 40vh;
        background-color: rgb(106, 238, 112);
    }
    .stroke-single:before,
    .stroke-single:after {
        -webkit-text-stroke: 8px #fad900;
    }


    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }
    
      .showcase.sec-1 img {
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .sec-5 {
        padding: 3em 0;
    }

    .sec-6 {
        height: 80vh;
    }

    .object-1 {
        top: 5vh;
    }

    .object-2 {
        top: 50vh;
    }

    .object-3 {
        top: 10vh;
    }

    .object-4 {
        top: 55vh;
    }

    .sec-7 ul li img {
        max-width: 15vw;
    }

    .sec-7 {
        margin-top: 5em;
    }

}